.create-project-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  width: 68vw;
}

.create-project-form input {
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.create-project-form input:focus {
  border-color: #3498db;
  outline: none;
}


.create-project-form button {
  padding: 12px 18px;
  background: #2980b9;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.create-project-form button:hover {
  background: #1f6b91;
}
